{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>

<div class="container">
    <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="card card-body">
            <P>{% trans "ARE YOU SURE YOU WANT TO DELETE" %} {{transaction.Transaction_name}}
                <br>
            {{transaction.amount}}
            </P>
            <form action="{% url 'caisse:delete_transaction' transaction.id %}" method="post">

                {% csrf_token %}
                <input class="btn btn-danger" type="submit" name="Confirm">
                <a class="btn btn-warning" href="{% url 'caisse:transaction_list' %}">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
</div>


<script>

</script>
{% endblock %}