{% extends 'partials/teachers_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load erpextra %}

{% block main %}
<br>
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-info">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">Sahel Learning Teacher Space</h1>
          <p class="lead my-3">{% trans "Welcome" %} - {{ request.user.username}}</p>
          <p class="lead mb-0 text-white fw-bold">
              "To this end, the greatest asset of a school is the personality of the teacher." –John Strachan
          </p>
        </div>
    </div>
<hr>
<br>
<h1 class="h2">{% trans "Attendances" %}</h1>
<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">

                <!-- All Attendance -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 bg-primary border-primary text-white">
                            <h4 class="my-0 fw-normal">{% trans "All sessions" %}</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-primary">{{all_sessions}}</h1>
                        </div>
                    </div>
                </div>
                <!-- Present -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-success">
                        <div class="card-header py-3 bg-success border-success text-white">
                            <h4 class="my-0 fw-normal">{% trans "Present" %}</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-success">{{present}}</h1>
                        </div>
                    </div>
                </div>
                <!-- Absent -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-warning">
                        <div class="card-header py-3 bg-warning border-warning text-white">
                            <h4 class="my-0 fw-normal">{% trans "Absent" %}</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-warning">{{absent}}</h1>
                        </div>
                    </div>
                </div>
                <!-- Unapproved Absent -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-danger">
                        <div class="card-header py-3 bg-danger border-danger text-white">
                            <h4 class="my-0 fw-normal">{% trans "Unapproved Absent" %}</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-danger">{{unapproved_absent}}</h1>
                        </div>
                    </div>
                </div>

            </div>
            <hr>


{% endblock %}