{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>{% trans "Payment Details" %} </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button href="#addPaymentModal" type="button" class="btn btn-warning" data-bs-toggle="modal">
            <i class="fa-solid fa-pen"></i>
            {% trans "Update Payment" %}
        </button>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <div class="row">
                <div class="col-md">
                    <h4>{% trans "Payment" %}: </h4>
                    <td>
                        <p class="fs-3">{{payment.student}}</p>

                    </td>
                </div>
                <div class="col-md">
                    <h4>{% trans "Amount" %}: </h4>
                    <td>
                        <p class="fs-3">{{payment.amount}} DA</p>

                    </td>
                </div>

            </div>
            <div class="row">
                <div class="col-md">
                    <h4>{% trans "Created By" %}: </h4>
                    <td>
                        <p class="fs-3">{{payment.user}}</p>

                    </td>
                </div>
                <div class="col-md">
                    <h4>{% trans "Date" %}: </h4>
                    <td>
                        <p class="fs-3">{{payment.pay_date}}</p>

                    </td>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p class=" fs-4">
                        {{payment.desc}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODALS MODALS -->
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="addPaymentModal">
  <div class="modal-dialog">
    <div class="modal-content rounded-6 shadow">

      <form class="" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}


      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">{% trans "Update student payment" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body py-0">


        {{form|crispy}}


      </div>
      <div class="modal-footer flex-column border-top-0">
        <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">{% trans "Save changes" %}</button>
      </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}