{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% load erpextra %}
{% load crispy_forms_tags %}
{% block main %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% trans "Employee Details" %}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <button href="#addEmployeeModal" type="button" class="btn btn-warning" data-bs-toggle="modal">
                        <i class="fa-solid fa-user-pen"></i>
                            {% trans "Update Employee" %}
                    </button>
                </div>
            </div>
        </div>


            {% if employee.debt > 0 %}
                    <a class="btn btn-primary "
                       href="">
                        <i class="fa-solid fa-comment-dollar"></i>
                        {% trans "PayDebt" %}
                    </a>

            {% endif %}
            <br>
            <hr>
            <br>
            <a class="btn btn-danger text-white" href=""><i class="fa-solid fa-file-pdf"></i> {% trans "Print" %} </a>

        </div>
        <div class="card card-body">
            <div class="row">
                <div class="col-md-2">
                    <h6>{% trans "Name" %}: </h6>
                    <td>{{employee.name}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Email" %}: </h6>
                    <td>{{employee.email}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Phone" %}: </h6>
                    <td>{{employee.phone}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Address" %}: </h6>
                    <td>{{employee.address}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Gender" %}: </h6>
                    <td>{{employee.gender}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Martial Status" %}: </h6>
                    <td>{{employee.martial_status}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Date of Birth" %} </h6>
                    <td>{{employee.birth_date}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Is Active" %} </h6>
                    <td>{{employee.is_active}}</td>
                </div>
                <div class="col-md-2">
                    <h6>{% trans "Join Date" %} </h6>
                    <td>{{employee.date_joined}}</td>
                </div>

            </div>
            <br>
            <hr>
            {% if request.user|has_group:'admin, general_manager, hr_manager, accountant' %}
            <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
                <!-- All Attendance -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 bg-primary border-primary text-white">
                            <h4 class="my-0 fw-normal">Mission</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-primary">{{mission}}</h1>
                        </div>
                    </div>
                </div>
                <!-- Present -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-success">
                        <div class="card-header py-3 bg-success border-success text-white">
                            <h4 class="my-0 fw-normal">Present</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-success">{{present}}</h1>
                        </div>
                    </div>
                </div>
                <!-- Absent -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-warning">
                        <div class="card-header py-3 bg-warning border-warning text-white">
                            <h4 class="my-0 fw-normal">Absent</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-warning">{{absent}}</h1>
                        </div>
                    </div>
                </div>
                <!-- Unapproved Absent -->
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-danger">
                        <div class="card-header py-3 bg-danger border-danger text-white">
                            <h4 class="my-0 fw-normal">Unapproved Absent</h4>
                        </div>
                        <div class="card card-body">
                            <h1 class="card-title pricing-card-title text-danger">{{unapproved_absent}}</h1>
                        </div>
                    </div>
                </div>

            </div>
            {% endif %}
            <hr>
            <h2> {% trans "Attendance" %}
                <a href="{% url 'attendances:attendances_details' employee.slug 4 %}" class="text-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </h2>
            <table class="table display table-secondary text-center">
                <thead>
                    <tr>
                        <th>{% trans "Registered By" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Entering Time" %}</th>
                        <th>{% trans "Leaving Time" %}</th>
                        <th>{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in attendances %}
                <tr>
                    <td>
                        {{item.user}}
                    </td>
                    <td>
                        {{item.attendance.attendance_date}}
                    </td>
                    <td>
                        {{item.attendance_time}}
                    </td>
                    {% if item.attendance.leave_employees.first.status == "APPROVED" %}
                    <td class="bg-success text-white">
                        {{item.attendance.leave_employees.first.leave_time}}
                    </td>
                    {% elif item.attendance.leave_employees.first.status == "UNAPPROVED" %}
                    <td class="bg-warning text-white">
                        {{item.attendance.leave_employees.first.leave_time}}
                    </td>
                    {% else %}
                    <td class="bg-danger text-white">
                        {{item.attendance.leave_employees.first.leave_time}}
                    </td>
                    {% endif %}
                    <td>
                        {% if item.status == "PRESENT" %}
                            <i class="fa-solid fa-check text-success fs-4"></i>
                        {% elif item.status == "ABSENT" %}
                            <i class="fa-solid fa-x text-warning fs-4"></i>
                        {% elif item.status == "MISSION" %}
                            <i class="fa-solid fa-plane-up text-primary fs-4"></i>
                        {% else %}
                            <i class="fa-solid fa-x text-danger fs-4"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <hr>
            {% if request.user|has_group:'admin, general_manager, hr_manager, accountant' %}
            <h2> {% trans "Payrolls" %} </h2>
            <table class="table display table-secondary text-center">
                <thead>
                    <tr>
                        <th>{% trans "Registered By" %}</th>
                        <th>{% trans "Date" %}</th>
                        <th>{% trans "Amount" %}</th>
                        <th>{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in payrolls %}
                <tr>
                    <td>
                        {{item.user}}
                    </td>
                    <td>
                        {{item.pay_date}}
                    </td>
                    <td>
                        {{item.amount}}
                    </td>
                    <td>
                        {% if item.paid %}
                            <i class="fa-solid fa-check text-success fs-4"></i>
                        {% else %}
                            <i class="fa-solid fa-x text-danger fs-4"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            <br>
        </div>
    </div>
</div>

<!-- MODALS MODALS -->
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="addEmployeeModal">
  <div class="modal-dialog">
    <div class="modal-content rounded-6 shadow">

      <form class="" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}


      <div class="modal-header border-bottom-0">
        <h5 class="modal-title">{% trans "Update employee" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body py-0">

        {{form|crispy}}

      </div>
      <div class="modal-footer flex-column border-top-0">
        <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">{% trans "Save changes" %}</button>
      </div>

      </form>
    </div>
  </div>
</div>


{% endblock %}